body{
    background-color: #ccc;
    box-sizing: border-box; /* Thêm thuộc tính này để cân đối */
}
.container-login {
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    color:#675fdf;
}
.container-login form {
    display: flex;
    flex-direction: column;
}

.container-login label {
    font-weight: bold;
}

.container-login input[type="number"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;

}
.container-login input[type="text"],
.container-login input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container-login button[type="submit"] {
    background-color: #675fdf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.container-login button[type="submit"]:hover {
    background-color: #45a049;
}

.dky-qmk {
    display:flex;
    margin-top: 20px;
}